body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.boot .demo .remove .svg-inline--fa {
  vertical-align: middle;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-12 {
  width: .75em;
}

.boot .demo {
  background-color: #ececec;
}

.boot .demo {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 0px;
  margin-top: 10px;
  padding: 30px 15px 15px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
  word-wrap: break-word;
  width: 100%;
}

.boot .demo::after {
  content: "Container";
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Container";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  top: -1px;
  position: absolute;
}

.boot .demo .view {
  display: none !important;
}

.boot #bsGrid .remove {
  display: none !important;
}

.boot .demo .column {
  min-height: 120px;
}

.boot .bsGrid {
  position: relative;
}

.demo .row::before {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Row";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  line-height: 2;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

.demo .row {
  background-color: #F5F5F5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
  padding: 25px 14px 0;
}

.demo .column {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  padding: 39px 19px 24px;
  position: relative;
}

.demo .column::after {
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Column";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  top: -1px;
  position: absolute;
}

.boot .demo .bsGrid .drag {
  background: #3095b4;
  color: white;
  position: absolute;
  top: -1px;
  right: 0;
  cursor: move;
  padding: 6px;
}

.boot .demo .bsGrid .drag {
  font-size: 13px;
  top: 5px;
  right: 90px;
  z-index: 10;
}

.drag {
  cursor: move;
}

.boot .demo .drag,
.boot .demo .remove {
  filter: alpha(opacity=20);
  opacity: 0.2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.demo .bsGrid .drag {
  font-size: 13px;
  top: 5px;
  right: 90px;
  z-index: 10;
}

.demo .remove {
  background: #E91E63;
  font-size: 13px;
  padding: 6px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.side-nav-list {
  margin: 5px 0 5px 10px;
}